
.idea/misc.xml
.DS_Store
.idea/AcademicAdvisorChatbot.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/.name
.idea/vcs.xml
.idea/.name
.idea/workspace.xml
chatbot/__pycache__/dbobjects.cpython-38.pyc
chatbot/__pycache__/dbobjects.cpython-37.pyc
chatbot/__pycache__/dbobjects.cpython-37.pyc
*.pyc
