body {
    font-family: Cambria;
    background-color:Navy;
}

h1 {
    color: orange;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h2{
    color: orange;
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 28px;
}


h3 {
    color: white;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}
#butLogin{
    margin-top:20px;
    width: 15%;
}
p {
    color: white;
    font-size 10px;
    text-align: center;
}
#content {
  position: relative;

      overflow: scroll;
      overflow-x:hidden;
      overflow-y:scroll;
  height: 0px;
  width: 50%;
  background-color: black;
}

.loginForms {
    text-align:center;
    display: grid;
    place-items: center;
    color:orange;
}
#passLbl{
    padding-top: 20px;
}

#userPswd{
    width:15%;
}

#userName{
    width:15%;
}

#chatbox {
    height: 500px;
    overflow: scroll;
    overflow-x:hidden;
    overflow-y:scroll;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
}

#userInput{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#textInput {
    width: 87%;
    border: none;
    border-bottom: 3px solid #009688;
    font-family: monospace;
    font-size: 17px;
}

#demo {
    color: orange;
}
#buttonInput {
    padding: 3px;
    font-family: monospace;
    font-size: 17px;
}

.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}

.userText span {
    background-color: #009688;
    padding: 10px;
    border-radius: 2px;
}

.botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}

.botText span {
    background-color: navy;
    padding: 10px;
    border-radius: 2px;
}

#tidbit {
    position: absolute;
    bottom:0;
    right: 0;
    width: 300px;
}