body {
    font-family: Cambria;
    background-color:Navy;
}

h1 {
    color: #C2530B;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h2{
    color: #C2530B;
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 28px;
}


h3 {
    color: white;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}
#butLogin{
    margin-top:20px;
    width: 15%;
}
p {
    color: white;
    font-size 10px;
    text-align: center;
}
#content {
  position: relative;
  overflow: hidden;
  height: 0px;
  width: 50%;
  background-color: white;
}

.loginForms {
    text-align:center;
    display: grid;
    place-items: center;
    color:orange;
}
#passLbl{
    padding-top: 20px;
}

#userPswd{
    width:15%;
}

#userName{
    width:15%;
}

#chatbox {
    border: 5px solid #C2530B;
    height: 650px;
    overflow: scroll;
    border-radius: 25px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
}

#userInput{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#textInput {
    width: 87%;
    border: none;
    border-bottom: 2px solid navy;
    font-family: monospace;
    font-size: 17px;
}

#demo {
    color: orange;
}
#buttonInput {
    padding: 3px;
    font-family: monospace;
    font-size: 17px;
}


.userText {
    margin-right: 15px;
    margin-left: auto;
    border: 5px solid navy;
    border-radius: 15px;
    background-color: #C2530B;
    min-width:10%;
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 40px;
    float: right;
    clear:both;
}

.userText span {
    border-radius: 15px;
    font-weight: bold;
    background-color: #C2530B;
    padding: 10px;
    border-radius: 2px;
}

.sb2:after {
  content: "";
  position:relative;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 0px solid navy;
  border-top: 10px solid navy;
  border-bottom: 10px solid transparent;
  left: 3px;
  bottom: -43px;

}

.botText {

    color: white;
    font-weight: bold;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    margin-left: 6px;
    line-height: 40px;
}

.botMsg {
    clear:both;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 5px solid #C2530B;
    background-color:navy;
    min-width: 50%;
    max-width: 85%;
    border-radius: 10px;
    position: relative;
    margin-left:10px;
}

.sb1:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #C2530B;
  border-right: 10px solid transparent;
  border-top: 10px solid #C2530B;
  border-bottom: 10px solid transparent;
  left: 8px;
  bottom: -20px;
}

.botText span {

    padding: 0px;
    border-radius: 20px;
    width: 40px;
}

#tidbit {
    position: absolute;
    bottom:0;
    right: 0;
    width: 300px;
}