body {
    font-family: Cambria;
        background-image: -webkit-linear-gradient(0deg,
            #C2530B 0%, white 50%, #C2530B 100%);

    margin: 0 auto;

}


h1 {
    color: #C2530B;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 60px;
    background-color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.85);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom:5px solid #C2530B;
}

#titleIndex{
        color: #C2530B;
        margin-bottom: 0;
        margin-top: 0;
        text-align: center;
        font-size: 60px;
        background-color: white;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.85);

        border-bottom:5px solid #C2530B;
}
h2{
    color: #C2530B;
    text-shadow: 0 2px 5px black;
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 45px;
}


h3 {
    color: white;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

#createActDesc{
    margin-top: 2.5em;
}
#butLogin{
    margin-top:40px;
    font-weight:bold;
    font-size: 20px;
    color: white;
    background-color: #C2530B;
    width: 40%;
    height: 35px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 14px 15px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#butLogin:hover {
    background-color: white;
    color: navy;
}
 #butLogin:active{
     background-color: #C2530B;
     color: navy;
 }
/*#nav_menu ul li a:active {
    background-color: gray;
}
#nav_menu ul li a.current {
    color: yellow !important;
    background: navy;
    text-shadow: none;
}*/

#headerPic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-height: 200px;
  border-left: 5px solid navy;
  border-right: 5px solid navy;
  border-bottom: 5px solid navy;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}

#loginBox{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    background-color: navy;
    width: 50%;
    height: 600px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-image: -webkit-linear-gradient(45deg,navy  25%,  steelblue 50%,navy  75%);
    margin-bottom: 200px;
    min-width: 900px;
    border-bottom: 5px solid #C2530B;
    border-left: 5px solid #C2530B;
    border-right: 5px solid #C2530B;

}
.logoPic {
    display: inline-block;

    width: 9%;
}

#acctBox{
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6em;
        background-color: navy;
        width: 50%;
        height: 600px;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 12px, inset 0 -6px 6px rgba(0,0,0,0.5), /*bottom internal shadow*/
                                                                  inset 0 6px 6px rgba(255,255,255,0.5); /*top internal highlight*/
        background-image: -webkit-linear-gradient(45deg,navy  25%,  steelblue 50%,navy  75%);
        margin-bottom: 200px;
        min-width: 900px;
}

p {
    color: white;
    font-size 10px;
    text-align: center;
}
#content {
  position: relative;
  overflow: hidden;
  height: 0px;
  width: 50%;
  background-color: white;
}

.loginForms {
    text-align:center;
    display: grid;
    place-items: center;
    color:#C2530B;
}

footer{
    width: 80%;
    clear:both;
    margin-left: 10%;
    background-image: -webkit-linear-gradient(30deg,
        navy 0%, steelblue 50%, navy 100%);
    color: #ff9966;
    font-size: 100%;
    text-shadow: 1px 1px black;
    border-radius: 1em;
    padding-bottom: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 200px;
}
footer a:link, footer a:visited {
    color: orangered;
    font-weight: bold;
}
#email{
    float: left;

}

#author{
    position: relative;
    float: left;
    padding: 0 15em 0 1em;
}

#date{
    float:right;
    padding-right: 10px;
}

footer::after {
     content: "";
     clear: both;
     display: block;
}

#logSection{
    float: left;
    padding-left 55px;
    width: 60%;
    border-right: 5px solid #C2530B;
    height: 88%;
}
#passLbl{
    font-weight: bold;
    padding-top: 20px;
    font-size: 40px;
    text-shadow: 0 2px 5px black;
}
#userPswdConfirm{
    font-size: 28px;
    width:40%;
    height: 30px;
    border-radius: 10px;
}

#userProgram{
    font-size: 28px;
    width:40%;
    height: 30px;
    border-radius: 10px;
}

#coursesTaken{
    font-size: 28px;
    width:40%;
    height: 30px;
    border-radius: 10px;
}
#userNameLabel {
    font-weight: bold;
    font-size: 40px;
    text-shadow:  0 2px 5px black;
}
#pass2Lbl {
    font-weight: bold;
    font-size: 30px;
    text-shadow:  0 2px 5px black;
}
#userName2Label {
    font-weight: bold;
    font-size: 30px;
    text-shadow:  0 2px 5px black;
}
#pswdConfirmLbl {
    font-weight: bold;
    font-size: 30px;
    text-shadow:  0 2px 5px black;
}
#progLbl {
    font-weight: bold;
    font-size: 30px;
    text-shadow:  0 2px 5px black;
}
#courselabel {
    font-weight: bold;
    font-size: 30px;
    text-shadow:  0 2px 5px black;
}

#userPswd{
font-size: 28px;
    width:40%;
    height: 30px;
    border-radius: 10px;
}

#userName{
    font-size: 28px;
    width:40%;
    height: 30px;
    border-radius: 10px;
}

#chatbox {
    border: .5px solid navy;
    height: 650px;
    overflow: scroll;
    border-radius: 25px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 12px, inset 0 -6px 6px rgba(0,0,0,0.5), /*bottom internal shadow*/
                                                          inset 0 6px 6px rgba(255,255,255,0.8); /*top internal highlight*/
}

#userInput{
    margin-left: auto;
    margin-right: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
    margin-bottom: 60px;

}


#textInput {
    width: 100%;
    height: 1.5em;
    border: none;
    border-bottom: 2px solid navy;
    font-family: monospace;
    font-size: 17px;
    border-radius:7px;
}

#demo {
    color: orange;
}
#buttonInput {
    padding: 3px;
    font-family: monospace;
    font-size: 17px;
}

#butAccount{
    margin-left: 5em;
    margin-top:40px;
    font-weight:bold;
    font-size: 20px;
    color: white;
    background-color: #C2530B;
    width: 20%;
    height: 35px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 14px 15px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#butAccount:hover {
    background-color: white;
    color: navy;
}
 #butAccount:active{
     background-color: #C2530B;
     color: navy;
 }


.userText {
    margin-right: 15px;
    margin-left: auto;
    border: .25px solid #C2530B;
    border-radius: 15px;
    background-color: #C2530B;
    min-width:10%;
    color: white;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
    padding-left: 10px;
    line-height: 40px;
    text-shadow: 1px 2px 2px black;

    box-shadow: rgba(0, 0, 0, 0.75) 10px 21px 18px, inset 0 -4px 4px rgba(0,0,0,0.5), /*bottom internal shadow*/
                                                          inset 0 4px 4px rgba(255,255,255,0.8); /*top internal highlight*/
    float: right;
    clear:both;
}

.userText span {
    padding: 10px;

}

.sb2:after {
  content: "";
  position:relative;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 0px solid #C2530B;
  border-top: 20px solid #C2530B;
  border-bottom: 10px solid transparent;
  left: -3px;
  bottom: -43px;

}

.botText {

    color: white;
    font-weight: bold;
    font-family: monospace;
    font-size: 18px;
    text-align: left;
    margin-left: 6px;
    line-height: 25px;
    text-shadow: 3px 4px 7px black;


}

.botMsg {
    clear:both;
    margin-top: 15px;
    margin-bottom: 10px;

    border: .5px solid navy;
    background-image: -webkit-linear-gradient(45deg,navy  25%,  steelblue 50%,navy  75%);
    min-width: 50%;
    max-width: 85%;
    border-radius: 10px;
    position: relative;
    margin-left:10px;
    box-shadow: rgba(0, 0, 0, 0.75) 10px 21px 18px, inset 0 -6px 6px rgba(0,0,0,0.5), /*bottom internal shadow*/
                                                      inset 0 6px 6px rgba(255,255,255,0.8); /*top internal highlight*/
}

.sb1:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid navy;
  border-right: 10px solid transparent;
  border-top: 10px solid navy;
  border-bottom: 10px solid transparent;
  left: 8px;
  bottom: -20px;
}

.botText span {

    padding: 0px;
    border-radius: 20px;
    width: 40px;
}

#tidbit {
    position: absolute;
    bottom:0;
    right: 0;
    width: 300px;
}