<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" type = "text/css" href = "../static/normalize.css">
    <link rel = "stylesheet" type = "text/css" href = "../static/style.css">
    <! MAKES THE TEXT ENTRY WORK >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>SU Academic Advisor Bot</title>
    <link rel="shortcut icon" href="../images/favicon.ico">

</head>
<body>

<h1>SU Advisor Bot</h1>

<div>

    <div id="chatbox">
        <div id="content">

        </div>
    </div>

    <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Enter input...">
    </div>

    <script src="../static/index.js"></script>


</div>
</body>
</html>