<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "../static/normalize.css">
    <link rel="stylesheet" type = "text/css" href = "../static/style.css">

    <title>Login Page</title>
    <link rel="shortcut icon" href="../images/favicon.ico">
</head>
<body>

<h1>SU Academic Advisor Bot </h1>

<h2> Please Enter Login: </h2>

    <div class ="loginPage">
        <div class="loginForms">
        <label for="userName">UserName:</label>

    <input type="text" id="userName" minlength="4" maxlength="14">
        <label for="userPswd" id="passLbl">Password:</label>

    <input type="password" id="userPswd" minlength="6" maxlength="12">
    <button onclick="checkPassword()" id="butLogin"> Login </button>
    </div>
        <p id="demo"></p>

        <script src="../static/login.js"></script>
    </div>

</body>
</html>