<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "../static/normalize.css">
    <link rel="stylesheet" type = "text/css" href = "../static/style.css">

    <title>Login Page</title>
    <link rel="shortcut icon" href="../images/favicon.ico">
</head>
<body>

<h1> LOGIN </h1>

    <div class ="login">
    <input type="text" id="userName">
    <input type="password" id="userPswd">
    <button onclick="checkPassword()"> Enter </button>

    <p id="demo"></p>

        <script src="../static/login.js"></script>
    </div>

</body>
</html>